<IfModule mod_rewrite.c>

RewriteEngine On

# It might be necessary to set the RewriteBase:
RewriteBase /

# Deny access to .yaml files in the "letters" directory and subdirectories
RewriteCond %{REQUEST_URI} ^/letters/ [NC]
RewriteCond %{REQUEST_URI} \.(yaml|txt)$ [NC]
RewriteRule ^ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.php -f 
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteRule ^$ index.php [L]

# Error Page 
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule .* error.php [L] 

</IfModule> 
